html, body
{
	margin: 0;
	padding: 0;
}

html
{
	scroll-behavior: smooth;
}





									/* Menu de navigation et logo */

.logoRP
{
	position: relative;
}

.title-logo
{
	position: absolute;
	top: 12px;
	left: 29px;
	color: #274675;
	font-weight: bold;
	font-size: 1.5em;
}

.fas.fa-laptop
{
	color: #0bd2d6;
	font-size: 4em;
}

menu
{
	justify-content: space-between;
	position: fixed;
	margin-bottom: 50px;
	margin-top: -100px;
	width: 100%;
	background: linear-gradient(to right, #0ee6f2 15%, #012955 40%);
	z-index: 100;
	padding-bottom: 15px;
}

menu ul
{
	margin-right: 20px;
}

menu a
{
	text-decoration: none;
	color: white;
}

menu a:hover
{
	text-decoration: none;
	color: #0ee6f2;
	border-bottom: 3px #0ee6f2 solid;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-bottom: 10px;
	transition: 0.5s;
}

menu li
{
	list-style-type: none;
	margin-top: 25px;
	margin-right: 30px;
}




										/* Titre + slider */

.titre
{
	margin-top: 100px;
	position: relative;
}

.titre img
{
	width: 100%;
	height: 600px;
	margin-top: -420px;
	transform: scaleX(-1);
}

.blocTitre
{
	text-align: center;
	position: relative;
	width: 400px;
	height: 400px;
	border-radius: 200px;
	border-top: 10px #0bd2d6 solid;
	border-bottom: 10px #0bd2d6 solid;
	background-color: #012955;
	color: white;
	z-index: 2;
	margin: auto;
	top: 70px;
}

h1
{
	margin-top: 25% !important;
}

.tiretCenter
{
	background-color: #0bd2d6;
	width: 50%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 10px;
	height: 6px;
	display: block;
}

									/* Présentation */

.presentation
{
	display: flex;
	justify-content: space-between;
	color: #012955;
}

.presentation img
{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	border: 5px #012955 solid;
	position: relative;
	margin: auto;
	margin-left: 50px;
	z-index: 2;
}

#about
{
	background: #0bd2d6;
	padding: 20px;
	color: #012955;
	padding-bottom: 100px;
	padding-top: 50px;
}

#skills
{
	background: #012955;
}

#about h2
{
	text-align: center;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 80px;
	width: 50%;
	background-color: white;
	color: black;
	border: 6px #012955 solid;
	border-radius: 30px;
	padding: 10px;
	justify-content: center;
	position: relative;
	z-index: 2;
}

.barre1
{
	width: 600px;
	height: 6px;
	background-color: #012955;
	position: relative;
	left: -1px;
	margin: auto;
	z-index: 1;
}

.textAbout
{
	margin: auto;
	width: 80%;
	border: 6px #012955 solid;
	border-radius: 30px;
	padding: 40px;
	margin-left: -200px;
	background-color: white;
	position: relative;
	z-index: 2;
	margin-right: 5%;
	font-style: italic;
	text-align: justify;
	font-size: 1.1em;
	color: black;
}

.titrePresentation h2 em
{
	font-size: 0.8em;
	margin-right: 20px;
	margin-top: 7px;
}

.titrePresentation
{
	justify-content: center;
	position: relative;
	padding-bottom: 30px;
}

.boule
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #012955;
}

.trait1
{
	width: 100px;
	height: 5px;
	background-color: #012955;
	margin-top: 7px;
	margin-left: -1px;
}

.trait2
{
	width: 100px;
	height: 5px;
	background-color: #012955;
	margin-top: 7px;
	margin-right: -1px;
}

.designG
{
	position: absolute;
	top: 75px;
	left: 20%;
	margin-left: -49px;
}

.designD
{
	position: absolute;
	top: 75px;
	right: 20%;
	margin-right: -50px;
}
